<h1>Entries for <%= @place.name %>:</h1>
<ul>
  <% @entries.each do |entry| %>
    <li>
      <strong><%= entry.title %></strong>
      <p><%= entry.description %></p>
      <p><%= entry.posted_on %></p>
    </li>
  <% end %>
</ul>
<p>
  <a href="<%= new_entry_path(place_id: @place.id) %>">New entry for <%= @place.name %></a>
</p>
<p>
  <a href="<%= places_path %>">Back to places</a>
</p>
